doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(type="text/javascript", src="./js/Chart.bundle.min.js")
        script(type="text/javascript", src="./js/kloakchart.js")
        
        
    body
        main
            block header
            header.header
                h1 #{title}
            block content
                p some content
                

